
.container {

    width: 1200px;
    max-width: none !important;
    margin-top: 60px;
    margin-bottom: 60px;
}


#sideBarImgArea {

    position: relative;
    height: 270px;

}

#sideImg {

    height: 200px;
}

#userName {

    position: absolute;
    left: 13%;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#menuList {
    height: 300px;
    text-align: center;

}


#pageName {

    text-align: center;
    font-size: 30px;

}

.menuText {

    font-size: 20px;

}

h2 {
    position: relative;
    top: 5px;
    left: 10px;
}

h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-weight: bold;
}

#divBox {
    border: 1px gray solid;
    position: relative;
    top: 20px;
    width: 866px;
    height: 1050px;
    padding-top: 10px;
}

.info {
    width: 220px;
    border: none;
    background: transparent;
    margin-bottom: 20px;
    padding-left: 15px;
    pointer-events: none;
}

#selectBar {
    position: absolute;
    top: 10px;
    margin-left: 230px;
}


#fileName1 {
    position: absolute;
    top: 10px;
    left: 450px;
    border: none;
    pointer-events: none;

}

#fileName2 {
    position: absolute;
    top: 10px;
    left: 680px;
    border: none;
    pointer-events: none;
    width: 150px;
}

#fileBox1 {
    border: 0.1px solid gray;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 420px;
    top: 4%;

}

#fileBox2 {
    border: 0.1px solid gray;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 650px;
    top: 4%;
}

#title {
    position: relative;
    top: 70px;
}


textarea {
    position: relative;
    top: 70px;
    resize: none;
    width: 100%;
    height: 71%;

}


#file {
    position: relative;
    top: 80px;
    width: 220px;
}

#fileTitle1 {
    position: absolute;
    top: 1220px;
    left: 30px;
    border: none;
    background: transparent;
    pointer-events: none;
}

#fileTitle2 {
    position: absolute;
    top: 1220px;
    left: 260px;
    border: none;
    background: transparent;
    pointer-events: none;
}

#cancelBtn {
    position: relative;
    float: right;
    top: -80px;
    margin-right: 50px;

}

#applyBtn {
    position: relative;
    float: right;
    top: -80px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}


#titleName {
    border-bottom: outset 3px;
    text-align: center;
    position: relative;
    top: 30px;
}


/* 파일 업로더 */
.box-file-input label {
    display: inline-block;
    background: #23a3a7;
    color: #fff;
    padding: 0px 15px;
    line-height: 35px;
    cursor: pointer;
}

.box-file-input label:after {
    content: "파일등록";
}

.box-file-input .file-input {
    display: none;
}

.box-file-input .filename {
    display: inline-block;
    padding-left: 10px;
}

/*파일2*/
.box-file-input2 label {
    display: inline-block;
    background: #23a3a7;
    color: #fff;
    padding: 0px 15px;
    line-height: 35px;
    cursor: pointer;
}

.box-file-input2 label:after {
    content: "파일등록";
}

.box-file-input2 .file-input2 {
    display: none;
}

.box-file-input2 .filename2 {
    display: inline-block;
    padding-left: 10px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

