/* 본문 가로 길이 1200px 고정, 반응형 삭제  */
.container{

    width: 1200px;
    max-width: none !important;
    /*height: 110px;*/
    margin-top: 20px;

}


body{
    font-family: 'Noto Sans KR', sans-serif;
}
footer{
    /*height: %;*/
    background-color: rgb(24, 214, 163);
}

footer img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin-top: 7px;
}

.foo_div{
    float: left;
    height: 160px;
}

.foo_div1{
    text-align: center;
}

.foo_div1 span {
    font-size: 15px;
    color: white;
}

.foo_div1 p {
    margin-top: 5px;
    color: white;
}

.foo_div1 img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

/*
.footer {
    !*position: relative;*!
    left: 0;
    !*bottom: -900px;*!
    width: 100%;
	!*padding: 15px 0;*!
	text-align: center;
}*/
