.question-img{
    width: 100px;
    height: 100px;
}

.search-head{
    margin-top: 35px;
    margin-left: 35px;
}

#search-box{
    margin-top: 100px;
    margin-bottom: 100px;
}

#id-name{
    
    margin-left: 150px;
}

#id-name-input{
    margin-left: 30px;
    width: 250px;
}

#pw-name{
    
    margin-left: 150px;
}

#pw-name-input{
    margin-left: 30px;
    width: 250px;
}

#id-email{
    margin-left: 146px;
}

#id-email-input{
    margin-left: 31px;
    width: 250px;
}

#pw-email{
    margin-left: 146px;
}

#pw-email-input{
    margin-left: 23px;
    width: 250px;
}

#pw-id{
    margin-left: 180px;
}

#pw-id-input{
    margin-left: 31px;
    width: 250px;
}
.search-label{
    font-size: 20px;
}

.search-row{
    margin-bottom: 50px;
}

#id-search-btn{
    margin-left: 30px;
}

#pw-search-btn{
    margin-left: 29px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}


.container{
    width: 1200px;
    max-width: none !important;
    margin-top: 30px;
    margin-bottom: 30px;
}