/* Made with love by Mutiullah Samim*/

.container {
    width: 1200px;
    max-width: none !important;
}

.loginA {
    display: block;
    margin: 0 auto;
    text-align: center;

}

.loginA {
    color: black;
    text-decoration: none;
}
.loginA:hover {
    color: black;
    text-decoration: none;
}

.loginA:visited {
    color: black;
}