/* 영역 볼수 있도록 임시로 border표시, 나중에 지울것 */
.container *{
    
    /*border: 1px solid gray;*/
}

/* 본문 가로 길이 1200px 고정, 반응형 삭제  */
.container{

    width: 1200px;
    max-width: none !important;
    margin-top: 60px;
    margin-bottom: 60px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.mainNewImg {
    width: 170px;
    height: 170px;
}
.mainNewLink , .mainNewLink:visited, .mainNewLink:hover{
    color: black;
}

.mainStarImg {
    margin-left: 90px;
    width: 30px;
    height: 30px;
}

.mainStarLabel {
    color: gray;
}

.mainRating {
    margin-left: 90px;
    color: gray;
}
.mainNewImgDiv {
    margin-left: 40px;
    margin-right: 50px;
}

.hrClass1{
    border: 0;
    height: 2px;
    background: #ccc;
}