

.container{

    width: 1200px;
    max-width: none !important;
    margin-top: 60px;
    margin-bottom: 60px;
}


#sideBarImgArea {

    position: relative;
    height: 270px;

}

#sideImg {

    height: 200px;
}

#userName {

    position: absolute;
    left: 13%;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#menuList {
    text-align: center;

}


#pageName {

    text-align: center;
    font-size: 30px;

}

.menuText {

    font-size: 20px;
    
}

#btn{
    position: relative;
    top:60px;
    float: right;
    margin-left: 2%;
}



#title{
    border-bottom: outset 2px;
    text-align: center;
   
}


#divBox{
    border: 0.5px solid gray;
    margin-top: 30px;
    width: 866px;
    min-height: 860px;
    padding-left: 10px;
    padding-top: 10px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}


.noM{
	color: black;
}

.noM:hover{
	color:black;
	text-decoration: none;
}
