

.container{

    width: 1200px;
    max-width: none !important;
    margin-top: 60px;
    margin-bottom: 60px;
}


#sideBarImgArea {

    position: relative;
    height: 270px;

}

#sideImg {

    height: 200px;
}

#userName {

    position: absolute;
    left: 13%;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#menuList {
    text-align: center;

}


#pageName {

    text-align: center;
    font-size: 30px;

}

.menuText {

    font-size: 20px;
    
}

#listbtn{
    position: relative;
    top: 60px;
    left: 45%;
}

#btn{
    position: relative;
    top:60px;
    float: right;
    margin-left: 2%;
}

h2{
    position: relative;
    top: 5px;
    left: 10px;
}

p{
    position: relative;
    top: 20px;
    left: 50%;
}

#title{
    border-bottom: outset 2px;
    text-align: center;
    position: relative;
    top:30px;
   
}

textarea{
    resize: none;
    position: relative;
    top: 3%;
    width:99%;
    height: 95%;
    border: none; background: transparent;
    pointer-events: none;
}


#divBox{
    border: 0.5px solid gray;
    position: relative;
    top: 50px;
    width: 866px;
    height: 860px;
    padding-left: 10px;
    padding-top: 10px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}



a{
    color: black;
}
a:hover {
    color: black;
}

a:active {
    color: black;
}