.container *{

    /*border: 1px solid gray;*/

}

.container{
    width: 800px;
    max-width: none !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buyCalender{
    height: 500px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}