<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ability">

    <select id="abilitySelectAll" resultType="abilityDto">
        SELECT *
        FROM W_ABILITY
                 JOIN W_USER ON W_USER.USNO = W_ABILITY.USNO
    </select>

    <select id="abilitySelectPaging" resultType="abilityDto" parameterType="com.commons.Criteria">
        SELECT *
        FROM (SELECT b.*, row_number() over (order by ABNO DESC) as rnum
              FROM W_ABILITY b
             ) a
                 JOIN W_USER ON W_USER.USNO = a.USNO
        WHERE a.rnum between #{rowStart} and #{rowEnd}
        order by ABNO desc
    </select>

    <select id="abilityCounting" resultType="int">
        SELECT COUNT(ABNO)
        FROM W_ABILITY
        WHERE ABNO > 0
    </select>

    <insert id="abilityInsert" parameterType="abilityDto">
        INSERT INTO W_ABILITY
        VALUES (ABILITYSEQ.NEXTVAL, #{usNo}, #{abCate}, #{abTitle},
                #{abContent}, SYSDATE, '승인 대기', #{abImg1}, #{abImg2})
    </insert>

    <select id="abilitySelectOne" parameterType="int" resultType="abilityDto">
        SELECT *
        FROM W_ABILITY
                 JOIN W_USER WU on W_ABILITY.USNO = WU.USNO
        WHERE W_ABILITY.ABNO = #{abNo}
    </select>

    <update id="abilityApprove" parameterType="abilityDto">
        UPDATE W_ABILITY
        SET ABSTATUS = '승인 완료'
        WHERE ABNO = #{abNo}
    </update>

    <update id="abilityApproveUser" parameterType="abilityDto">
        UPDATE W_USER
        SET USTALENT = #{usTalent}
        WHERE USNO = #{usNo}
    </update>

    <insert id="abilityNega" parameterType="messageDto">
        INSERT INTO W_MESSAGE
        VALUES (MESSAGESEQ.NEXTVAL, #{usNo}, #{usSendId}, #{mesContents}, 'N', SYSDATE)
    </insert>

    <update id="abilityNegaUser" parameterType="abilityDto">
        UPDATE W_ABILITY
        SET ABSTATUS = '승인 거절'
        WHERE ABNO = #{abNo}
    </update>

    <select id="abilityAjaxCount" parameterType="com.commons.Criteria" resultType="int">
        SELECT COUNT(ABNO)
        FROM W_ABILITY
        WHERE ABSTATUS = #{change}
    </select>

    <select id="abilityAjaxList" resultType="abilityDto" parameterType="com.commons.Criteria">
        SELECT *
        FROM (SELECT b.*, row_number() over (order by ABNO DESC) as rnum
              FROM W_ABILITY b
              WHERE  ABSTATUS = #{change}
             ) a
                 JOIN W_USER ON W_USER.USNO = a.USNO
        WHERE a.rnum between #{rowStart} and #{rowEnd}
        order by ABNO desc
    </select>



</mapper>