<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deal">
    <insert id="InsertDealStatus" parameterType="dealDto">
        INSERT INTO W_DEALSTATUS
        VALUES (DealSEQ.NEXTVAL, #{prNo}, #{usSellNo}, #{usBuyNo})
    </insert>

    <select id="DealSelect" parameterType="dealDto" resultType="dealDto">
        SELECT *
        FROM (
                 SELECT b.*, WU.* ,WP.PRPRICE,  ROW_NUMBER() OVER (ORDER BY DEALNO DESC) AS RN
                 FROM W_DEALSTATUS b
                          JOIN W_PROJECT WP on b.PRNO = WP.PRNO
                          JOIN W_USER WU on wu.USNO = b.USSELLNO
                 WHERE b.USBUYNO = #{usBuyNo}
                   AND b.USSELLNO = #{usSellNo}
                   AND b.PRNO = #{prNo}
             ) a
        WHERE a.RN = 1
    </select>
</mapper>