<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">

	<insert id="insertNotice" parameterType="notificationDto">
		INSERT INTO W_NOTIFICATION
		VALUES(NOTISEQ.NEXTVAL, #{usNo}, #{notiTitle}, #{notiContent}, SYSDATE, 0)
	</insert>
	
	<select id="noticeList" parameterType="int" resultType="notificationDto">
		SELECT * FROM W_NOTIFICATION
		WHERE USNO = #{usNo}
		ORDER BY NOTINO DESC
	</select>

	
	<select id="noticeOne" parameterType="int" resultType="notificationDto">
		SELECT * FROM W_NOTIFICATION
		WHERE NOTINO = #{notiNo}
	</select>

	<select id="updateNotice" parameterType="notificationDto" >
		UPDATE W_NOTIFICATION
		SET NOTITITLE=#{notiTitle}, NOTICONTENT=#{notiContent}
		WHERE NOTINO = #{notiNo}
	</select>
	

	<delete id="deleteNotice" parameterType="int">
		DELETE FROM W_NOTIFICATION
		WHERE NOTINO = #{notiNo}
	</delete>

	<select id="allList" resultType="notificationDto">
		SELECT * FROM W_NOTIFICATION
		ORDER BY NOTINO DESC
	</select>
	
	<update id="countViews" parameterType="notificationDto">
		UPDATE W_NOTIFICATION
		SET NOTIVIEWS = #{notiViews}+1
		WHERE NOTINO = #{notiNo}
	</update>











</mapper>