<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project">
	
	<select id="selectDesign" parameterType="com.commons.Criteria" resultType="ProjectDto">
		SELECT PRNO,USNO,PRTITLE, PRCONTENT, PRPRICE, PRWRITEDATE, PRTALENT, PRDEAL,PRYOUTUBE,PRIMAGE,PRDATE,PRSTATUS,PRLATITUDE,PRLONGITUDE,PRADDRESS
        FROM (
                SELECT PRNO,USNO,PRTITLE, PRCONTENT, PRPRICE, PRWRITEDATE, PRTALENT, PRDEAL,PRYOUTUBE,PRIMAGE,PRDATE,PRSTATUS,PRLATITUDE,PRLONGITUDE,PRADDRESS, ROW_NUMBER() OVER(ORDER BY PRNO DESC) AS RNUM
                FROM W_PROJECT
                WHERE PRTALENT=#{prTalent} AND PRDELSTATUS = 'Y' )
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY PRNO DESC
	</select>
	
	

	<select id="prListCount" resultType="int">
		SELECT COUNT(PRNO)
		FROM W_PROJECT
		WHERE PRNO>0
	</select>

    <!-- <select id="selectDesign" parameterType="String" resultType="ProjectDto">
        SELECT *
        FROM W_PROJECT
        WHERE PRTALENT = #{prTalent}
    </select>
	 -->
	
	
	<select id="reviewSelect" parameterType="int" resultType="reviewDto">
		SELECT  PRNO,b.USNO,RVNO,RVCONTENT,RVDATE,RVGRADE,USNAME
		FROM W_REVIEW a
		JOIN W_USER b ON b.USNO = a.USWRITER
		WHERE PRNO=#{prNo}
	</select>
	
    <select id="detail" parameterType="int" resultType="ProjectDto">
        SELECT a.*, b.*
        FROM W_PROJECT a
                 JOIN W_USER b ON a.USNO = b.USNO
        WHERE PRNO = #{prNo}
    </select>
	
	

    <insert id="insert" parameterType="ProjectDto">
        INSERT INTO W_PROJECT
        VALUES (PROJECTSEQ.NEXTVAL, #{usNo}, #{prTitle}, #{prContent}, #{prPrice}, SYSDATE, #{prTalent}, #{prDeal},
                #{prYoutube}, #{prImage}, SYSDATE, '대기중', #{prLatitude}, #{prLongitude}, '주소','Y')

    </insert>
     
   
    
    
    <insert id="insertReview" parameterType="reviewDto">
    INSERT INTO W_REVIEW
	VALUES (RVSEQ.NEXTVAL,#{prNo},#{usSellNo},#{usBuyNo},#{rvContent},SYSDATE,#{rating})
    </insert>


 	<select id="selectReview" parameterType="FinishDealDto" resultType="finishDealDto">
    	SELECT *
		FROM W_FINISHDEAL
		WHERE PRNO=#{prNo} AND USBUYNO=#{usBuyNo} AND FINSTATUS='거래완료'
    </select>

    <update id="update" parameterType="ProjectDto">
        UPDATE W_PROJECT
        SET PRTITLE=#{prTitle},
            PRCONTENT=#{prContent},
            PRPRICE=#{prPrice},
            PRTALENT=#{prTalent},
            PRDEAL=#{prDeal},
            PRYOUTUBE=#{prYoutube},
            PRIMAGE=#{prImage}
        WHERE prNo = #{prNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM W_PROJECT
        WHERE PRNO = #{prNo}
    </delete>


    <select id="" parameterType="int" resultType="UserDto">
        SELECT *
        FROM W_USER
        WHERE USNO = #{usNo}
    </select>

    <select id="selectMessagePop" parameterType="int" resultType="ProjectDto">
        SELECT *
        FROM W_PROJECT
                 JOIN W_USER WU on W_PROJECT.USNO = WU.USNO
        WHERE PRNO = #{prNo}
    </select>
	
	
	<select id="search" parameterType="ProjectDto" resultType="ProjectDto">
		SELECT *
		FROM (SELECT *
			  FROM W_PROJECT
			  WHERE PRTALENT=#{prTalent})
		WHERE PRCONTENT LIKE '%'||#{searchContent}||'%'
	</select>
	

	<select id="newest" resultType="ProjectDto">
	
		SELECT ROWNUM, a.* FROM W_PROJECT a WHERE ROWNUM &lt; 5 ORDER BY PRNO DESC
		
	</select>
	
	
	<select id ="popularity" parameterType="ReviewDto" resultType="ReviewDto">
<![CDATA[
SELECT *
FROM(
SELECT *
FROM(SELECT PRNO, COUNT(RVGRADE) w, AVG(RVGRADE) e 
FROM W_REVIEW
GROUP BY PRNO
ORDER BY e DESC) c
JOIN W_PROJECT d ON (c.PRNO = d.PRNO)
ORDER BY c.e DESC
) 
WHERE ROWNUM <= 4
]]>

	</select>

	
	<update id="reviewUpdate" parameterType="ReviewDto" >
		UPDATE W_REVIEW
		SET RVCONTENT=#{rvContent}
		WHERE RVNO=#{rvNo}
	</update>
	
	<delete id="reviewDelete" parameterType="int">
		DELETE
		FROM W_REVIEW
		WHERE RVNO=#{rvNo}
	</delete>
</mapper>