<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project">
	
	<select id="selectDesign" parameterType="com.commons.Criteria" resultType="ProjectDto">
		SELECT PRNO,USNO,PRTITLE, PRCONTENT, PRPRICE, PRWRITEDATE, PRTALENT, PRDEAL,PRYOUTUBE,PRIMAGE,PRDATE,PRSTATUS,PRLATITUDE,PRLONGITUDE,PRADDRESS
        FROM (
                SELECT PRNO,USNO,PRTITLE, PRCONTENT, PRPRICE, PRWRITEDATE, PRTALENT, PRDEAL,PRYOUTUBE,PRIMAGE,PRDATE,PRSTATUS,PRLATITUDE,PRLONGITUDE,PRADDRESS, ROW_NUMBER() OVER(ORDER BY PRNO DESC) AS RNUM
                FROM W_PROJECT
                WHERE PRTALENT=#{prTalent})
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY PRNO DESC
	</select>
	
	

	<select id="prListCount" resultType="int">
		SELECT COUNT(PRNO)
		FROM W_PROJECT
		WHERE PRNO>0
	</select>

    <!-- <select id="selectDesign" parameterType="String" resultType="ProjectDto">
        SELECT *
        FROM W_PROJECT
        WHERE PRTALENT = #{prTalent}
    </select>
	 -->
	
	
	<select id="reviewSelect" parameterType="int" resultType="ProjectDto">
		SELECT  PRNO,RVCONTENT,RVDATE,RVGRADE,USNAME
		FROM W_REVIEW 
		JOIN W_USER  USING(USNO)
		WHERE PRNO=16;
	</select>
	
    <select id="detail" parameterType="int" resultType="ProjectDto">
        SELECT a.*, b.*
        FROM W_PROJECT a
                 JOIN W_USER b ON a.USNO = b.USNO
        WHERE PRNO = #{prNo}
    </select>
	
	

    <insert id="insert" parameterType="ProjectDto">
        INSERT INTO W_PROJECT
        VALUES (PROJECTSEQ.NEXTVAL, #{usNo}, #{prTitle}, #{prContent}, #{prPrice}, SYSDATE, #{prTalent}, #{prDeal},
                #{prYoutube}, #{prImage}, SYSDATE, '1', 'test위도', 'test경도', '주소')

    </insert>
    
    
    <insert id="insertReview" parameterType="ProjectDto">
    INSERT INTO W_REVIEW
	VALUES (RVSEQ.NEXTVAL,#{prNo},#{usNo},#{usWriterNo},#{reviewContent},SYSDATE,#{rating})
    </insert>


    <update id="update" parameterType="ProjectDto">
        UPDATE W_PROJECT
        SET PRTITLE=#{prTitle},
            PRCONTENT=#{prContent},
            PRPRICE=#{prPrice},
            PRTALENT=#{prTalent},
            PRDEAL=#{prDeal},
            PRYOUTUBE=#{prYoutube},
            PRIMAGE=#{prImage}
        WHERE prNo = #{prNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM W_PROJECT
        WHERE PRNO = #{prNo}
    </delete>


    <select id="" parameterType="int" resultType="UserDto">
        SELECT *
        FROM W_USER
        WHERE USNO = #{usNo}
    </select>

    <select id="selectMessagePop" parameterType="int" resultType="ProjectDto">
        SELECT *
        FROM W_PROJECT
                 JOIN W_USER WU on W_PROJECT.USNO = WU.USNO
        WHERE PRNO = #{prNo}
    </select>
	
	
	<select id="search" parameterType="ProjectDto" resultType="ProjectDto">
		SELECT *
		FROM (SELECT *
			  FROM W_PROJECT
			  WHERE PRTALENT=#{prTalent})
		WHERE PRCONTENT LIKE #{searchContent}||'%'
	</select>
</mapper>