<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="loginUser" parameterType="userDto" resultType="userDto">
        SELECT *
        FROM W_USER
        WHERE USID = #{usId}
          AND USPW = #{usPw}
          AND USSTATUS = 'Y'
    </select>

    <insert id="regi" parameterType="userDto">

        INSERT INTO W_USER
        VALUES (USERSEQ.NEXTVAL, #{usId}, #{usPw}, #{usName}, #{usPhone},
                #{usAddress1}, #{usAddress2}, #{usEmail}, NULL, 'N', SYSDATE, 'Y', 'user', '0',
                http://wjwan0.dothome.co.kr/stoarge/personimg.png)

    </insert>

    <select id="idChk" parameterType="userDto" resultType="int">
        SELECT COUNT(*)
        FROM W_USER
        WHERE USID = #{usId}
    </select>

    <update id="charge" parameterType="userDto">
        UPDATE W_USER
        SET USCASH = #{usCash}
        WHERE USNO = #{usNo}
    </update>

    <select id="findId" parameterType="userDto" resultType="string">
        SELECT USID
        FROM W_USER
        WHERE USNAME = #{usName}
          AND USEMAIL = #{usEmail}
    </select>

    <select id="findPw" parameterType="userDto" resultType="string">
        SELECT USPW
        FROM W_USER
        WHERE USNAME = #{usName}
          AND USID = #{usId}
          AND USEMAIL = #{usEmail}
    </select>


    <update id="userEdit" parameterType="userDto">
        UPDATE W_USER
        SET USPW=#{usPw},
            USNAME=#{usName},
            USPHONE=#{usPhone},
            USADDRESS1=#{usAddress1},
            USADDRESS2=#{usAddress2},
            USEMAIL=#{usEmail},
            USSELFINFO=#{usSelfInfo}
        WHERE USNO = #{usNo}
    </update>


    <insert id="chargehistory" parameterType="chargeHistoryDto">
        INSERT INTO W_CHARGEHISTORY
        VALUES (CHARGESEQ.NEXTVAL, #{usNo}, #{chCash}, SYSDATE, #{chBank})
    </insert>


</mapper>
