<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <select id="loginUser" parameterType="userDto" resultType="userDto">
        SELECT *
        FROM W_USER
        WHERE USID = #{usId}
          AND USPW = #{usPw}
    </select>
    
     <insert id="regi" parameterType="userDto">
     
 	INSERT INTO W_USER VALUES(USERSEQ.NEXTVAL, #{usId},
 	#{usPw},#{usName},#{usPhone},
 	#{usAddress1},#{usAddress2},#{usEmail},NULL,'N',SYSDATE,'Y','user','0')
	
 		</insert>
    
    <select id="findId" parameterType="userDto" resultType="string">
    	SELECT USID
		FROM W_USER
		WHERE USNAME = #{usName}
		AND USEMAIL = #{usEmail}
    </select>
    
    <select id="findPw" parameterType="userDto" resultType="string">
 		SELECT USPW
 		FROM W_USER
 		WHERE USNAME = #{usName}
 		AND USID = #{usId}
 		AND USEMAIL = #{usEmail}
 	</select> 
    
</mapper>
