.container *{

    /*border: 1px solid gray;*/

}

.container{

    width: 1200px;
    max-width: none !important;
    margin-top: 60px;
    margin-bottom: 60px;
}


#sideBarImgArea {

    position: relative;
    height: 170px;

}

#sideImg {
    height: 100px;
}

#userName {

    position: absolute;
    left: 13%;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#menuList {
    text-align: center;
    background-color: lightgray;
}


#pageName {
    text-align: center;
    font-size: 30px;
}

.menuText {
    font-size: 20px;
}

#adminImg {
    display: block;
    margin: auto;
    height: 100px;
}

.pointDiv {
    margin-left: 50px;
}

#adminBank-select {
    margin-left: 20px;
    width: 100px;
    height: 30px;
}
#adminOutBank {
    margin-left: 50px;
    width: 350px;
}

#adminOutBtn {
    width: 80px;
    margin-top: 3px;
}

#adminResetBtn {
    width: 80px;
    margin-top: 20px;
}